/* home.css */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a; /* Very dark gray */
  color: #e0e0e0; /* Light gray */
}

.home-container {
  background-image: url("../images/background-image.png");
  color: #e0e0e0; /* Light gray */
  padding: 200px 40px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.home-container .content h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #c4a0e5; /* Light purple */
  text-shadow: 2px 2px 4px #000000; /* Black */
}

.home-container .content p {
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px #000000; /* Black */
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 20px;
  background-color: #282a36; /* Dark blue-gray */
  color: #e0e0e0; /* Light gray */
}

.about-container .about-text {
  flex: 1;
  padding: 20px;
}

.about-container .about-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #8be9fd; /* Light blue */
}

.about-container .about-text p {
  font-size: 1.2rem;
  line-height: 1.8;
}

.about-container .about-image {
  flex: 1;
  background-image: url("../images/about-background.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  border-radius: 10px;
  margin: 20px;
}

.footer {
  background-color: #44475a; /* Dark grayish blue */
  color: #e0e0e0; /* Light gray */
  text-align: center;
}

.footer-text {
  margin-top: 0px;
}

.footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer .social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s;
}

.footer .social-icons a:hover {
  transform: scale(1.1);
}

.Github_logo {
  background-image: url("../images/github_logo.png");
}

.Linkedin_logo {
  background-image: url("../images/linkedin_logo.png");
}
